<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login into the site</title>
	</head>
	<body>
		<h1>This is my website</h1>
		<h2>Login to view the website</h2>

		<form action="/login" method="post">
			<input
				style="display: block"
				type="text"
				name="userName"
				id="user-name"
				placeholder="Enter User Name"
			/>
			<input
				style="display: block"
				type="password"
				name="password"
				id="password"
				placeholder="Enter the password"
			/>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
